<p><a href="/todos">Ver todos los libros</a></p>        <!-- redirecciona a la página todos -->

<p><a href="/primer">Ver el primer libro</a></p>           <!-- redirecciona a la página primer -->

<p><a href="/todos/catalogo/accion">Ver todos los libros de accion</a></p>        
<!-- redirecciona a la página todos, pero filtando solo a los de estado doméstico -->

<p><a href="/todos/catalogo/ficcion">Ver a todos los libros de ficcion</a></p>        
<!-- redirecciona a la página todos, pero filtando solo a los de estado doméstico -->

<p><a href="/todos/catalogo/terror">Ver a todos los libros de terror</a></p>        
<!-- redirecciona a la página todos, pero filtando solo a los que tienen estado indefinido -->

<p><a href="/todos/ordenadoA">Ver a todos los libros ordenados ascendentemente por nombre</a></p>        
<!-- redirecciona a la página todos, pero ordenado alfabeticamente-->

<p><a href="/todos/ordenadoB">Ver a todos los libros ordenados descendentemente por nombre</a></p>        
<!-- redirecciona a la página todos, pero ordenado descendentemente por nombre-->