<div class="col-md-5 mx-auto">
    <div class="card">
        <div class="card-header">
            <h3>Iniciar sesion</h3>
        </div>
        <div class="card_body">
            <form action="/login" method="post">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" class="form-control">
                </div>
                <div class="form-group">
                    <label for="password">Contraseña</label>
                    <input type="password" name="password" class="form-control">
                </div>
                <button class="btn btn-primary" onclick="location.href='/todos'" type="submit">
                    Iniciar sesion
                </button>
            </form>
        </div>
    </div>
</div>